@font-face {
  font-family: 'SourceSansPro';
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url('../fonts/SourceSansPro/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$fonts1: 'SourceSansPro', Arial, Helvetica, sans-serif;
