@font-face {
  font-family: 'LucidaGrande';
  src: local('Lucida-Grande-Regular'), local('Lucida Grande Regular'), url('../fonts/LucidaGrande/LucidaGrande-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$fonts1: 'LucidaGrande', Arial, Helvetica, sans-serif;
